#darkMode {
    background-color: white;
    width: 45px;
    height: 45px;
    
    border: none;
    border-radius: 50%;
    transition: .5s
}



#darkMode:hover,
#darkMode:focus {
    background-color: black;
    filter: none;
    cursor: pointer;
    transition: .5s;
}

#darkMode.clicked {
    filter: none !important;
    
}