:root {
  --main-accent: #a30fdd;
  --text-primary: #555;
  --background: #fdfdfd;
  --text-secondary: #555;
  --header-text: #9c9c9c;
  --background-secondary: #f1f1f1;
  --text-tertiary: rgb(255, 232, 27);
  --swiper-theme-color: #a30fdd;
  --accent-secondary: #220025;
  --html: rgb(219, 0, 0);
  --css: #0d0dcf;
  --js: rgb(196, 140, 0);
  --react: #00a2ca;
  --firebase: #e27815;
  --upwork: #14a800;
  --hover1: #c940ff;
  --hover2: #29003b;
  --hover3: #282828;
}

[data-theme='dark'] {
  --background: #282828;
  --text-primary: #BFBFBF;
  --main-accent: #1fcad6;
  --text-secondary: #a30fdd;
  --header-text: #BFBFBF;
  --background-secondary: #212124;
  --text-tertiary: white;
  --swiper-theme-color: rgb(34,196,207);
  --accent-secondary:  #ffffff;
  --html: rgb(230, 66, 66);
  --css: #6565eb;
  --js: rgb(212, 179, 95);
  --react: #8bd3e6;
  --firebase: #d18c4b;
  --upwork: #4dbe3e;
  --hover1: #25e2f0;
  --hover2: #d3d3d3;
  --hover3: #282828;
}


* {
  margin: 0;
  padding: 0;
  font-family: inter;
  color: var(--text-primary);

  z-index: 0;
}

body{
  width: 100vw;
  color: var(--text-color);
  
  
  
}

.app {
 background-color: var(--background);
 transition: 1s;

}
/*General*/



section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}
section h1 {
  color: var(--main-accent)
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--main-accent) !important
}


/* SVGS */
svg {
  width: 40px;
  height: 40px;
  fill: var(--text-primary);
  transition: .5s;
  
}

.moon {
  width: 30px;
  height: 30px;
}

.moon:hover {
  cursor: pointer;
  fill: var(--main-accent);
  transition: .5s;
  
  
}

.linkedin:hover {
  fill: #0072b1;
  
}

.github:hover {
  fill: #34b800;
  
}

.email:hover {
  fill: var(--main-accent)
}

/*Navigation*/

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--background);
  padding-bottom: 5px;
  z-index: 1;
  transition: 1s;
  
}

nav {
  display: flex;
  padding-top: 3vh;
  justify-content: space-around;
  
}

.nav-buttons {
  
  display: flex;
  justify-content: space-evenly;
  
}
ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-weight: bold;
  align-items: center;
}



.home {
  color: var(--main-accent);
  font-weight: bolder;
  font-size: 2em;

}

li a {
  text-decoration: none;
  position: relative;
  color: var(--header-text)
}

ul li a:before {
  content: "";
  width: 0;
  height: 5px;
  background-color: var(--hover2);
  position: absolute;
  top: 120%;
  left: 0;
  transition: all 0.5s;
}

ul li a:after {
  content: "";
  width: 0;
  height: 5px;
  background-color: var(--hover1);
  position: absolute;
  top: 120%;
  right: 0;
  transition: all 0.5s;
}

ul li a:hover:before {
  width: 50%;
  transform: translateX(100%);
}

ul li a:hover:after {
  width: 50%;
  transform: translateX(-100%);
}

a:hover {
  color: var(--accent-secondary);
  transition: .5s;
}

.secret-moon {
  display: none;
}



/*Burger Menu*/


.burger-menu {
  display: none;
}

.menu-bg {
  display: none;
}


#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--main-accent);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.burger {
  transition: 0.3s ease;
  display: none;
}

.burger ul {
  padding: 0 22px;
}

.burger li {
  list-style: none;
  padding: 12px 0;
}

.burger li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.burger li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, var(--main-accent), var(--main-accent));
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}




/*Hero*/

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin: auto;
  margin-bottom: 15%;
  
}

.name {
  color: var(--main-accent)
}

.HTML {
  color: var(--html);
  font-weight: bold;
}

.CSS {
  color: var(--css);
  font-weight: bold;
}

.js {
  color: var(--js);
  font-weight: bold;
}

.react {
  color: var(--react);
  font-weight: bold;
}

.firebase {
  color: var(--firebase);
  font-weight: bold;
}

#hero h1{
  font-size: 4em;
  margin-top: 3em;
}

#hero h2 {
  margin-top: 1em;
  font-size: 2em;
}

#hero p {
  margin-top: 3em;
  max-width: 650px;
}

.hero-links ul {
  display: flex;
  margin-top: 3em;
  gap: 40px;
  list-style: none;
  font-weight: bold;
}




/*Projects*/

#projects h1 {
  padding-top: 5%;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 10%;
  
  
  
}




.project {
  background-color: var(--background-secondary);
  color: var(--text-tertiary);
  transition: .5s;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.project img {
  width: 500px;
  height: 250px;
  border-radius: 5px;
}

.project img:hover {
  opacity: .5;
  transition: .75s;
}

.project h2 {
  margin: 1rem;
}

.project p {
  margin: 30px 0px 30px 0px;
 
}

.tech {
  display: flex;
  justify-content: center;
  gap: 20px;
  
}



.demo {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
}

/*Testimonial*/



#testimonials h1 {
  padding-top: 5%;
  
}
.slider {
  margin: auto;
  margin-top: 4rem;
  width: 80%;
  background-color: var(--background-secondary);
  border-radius: 10px;
  padding: 0 1% 1% 1%;
  transition: .5s;
}

.slide {
  text-align: center;
  margin: 12% auto;
  width: 60%;
 
 
}

.testimonial-content {
  margin: auto;
  max-width: 60%;
}

.slide-content * {
  padding-top: 2em;
}


.upwork {
  color: var(--upwork);

}

.upwork-pitch {
  margin: 5% 0px 5% 0px;
}



.stars {
  font-size: 2rem;
}



/*Contact*/

#contact {
  margin-top: 10%;
}

#contact h3 {
  margin: 5% 0 5% 0;
}
.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: space-evenly;
  gap: 40px;
  margin-bottom: 5%;
}

.contact-box {
  width: 200px;
  height: 200px;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  transition: .5s;
  
}

/*Footer*/

footer {
  border-top: 1px solid #f1f1f1;
  padding-top: 5%;
  padding-bottom: 10%;
}

.copyright {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 1230px) {
  

  #hero h1{
    font-size: 3em;
  }
  
  #hero h2 {
    margin-top: 1em;
    font-size: 2em;
  }
  
  #hero p {
    margin-top: 3em;
    max-width: 650px;
  }

  .project-container {
    display: flex;
    flex-direction: column;
  }

}


@media screen and (max-width: 1000px) {


header {
  z-index: 1;
  background: transparent;
}

.burger-menu {
  display: block;
}

.menu-bg {
  display: block;
  z-index: 1;
}

.hide {
  display: none;
}

.nav-buttons {
  display: none;
}
.secret-moon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px 50px 20px 0px
}

.home {
  display: none;
}

nav ul {
  flex-direction: column;
  gap: 0px;
}


.burger ul li a:hover {
  color: var(--hover3) !important
}



#hero {
  max-width: 80%;
  margin-bottom: 50%;
}

  #hero h1 {
    font-size: 2.5em;
  }

  #hero h2 {
    font-size: 1.5em;
  }

  #hero p {
    margin-top: 5em;
    max-width: 650px;
  }

  .hero-links ul {
    margin-top: 7em;
  }

  .project {
    max-width: 500px;
  }
}

@media screen and (max-width: 868px) {

  .project-container {
    gap: 150px;
    margin-bottom: 30%;
  }

  .project {
    max-width: 350px;
 
  }

  .project img {
    width: 300px;
    height: 150px;
    
  }

  

  #testimonials h1 {
    margin-bottom: 10%;
  }


  .slider {
    margin: auto;
    width: 90%;
    
  }
  
  .slide {
    text-align: center;
    margin: 12% auto;
    width: 80%;
    
    
  }

  .job {
    font-size: 1rem;
  }
  

  .contact-container {
    flex-direction: column;
  }

}