:root {
  --main-accent: rgb(8, 32, 109);
  --white: white;

}

* {
  margin: 0;
  padding: 0;
  font-family: inter;
  color: #555;
}

body {
  width: 100vw;
  color: var(--text-color);
  background: var(--background-color)
  
}

/*light mode*/

body.light {
  --background-color: var(--white);
  --text-color: var(#555);
}

body.dark {
  --background-color: var(purple);
  --text-color: var(var(--white))
}

/*General*/


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}
section h1 {
  color: var(--main-accent)
}


/*Navigation*/

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  padding-bottom: 5px;
}

nav {
  display: flex;
  padding-top: 3vh;
  justify-content: space-around;
}

.nav-buttons {
  
  display: flex;
  justify-content: space-evenly;
  
}
ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-weight: bold;
  align-items: center;
}



.home {
  color: var(--main-accent);
  font-weight: bolder;
  font-size: 2em;

}

a {
  text-decoration: none;
  position: relative;
}

ul li a:before {
  content: "";
  width: 0;
  height: 5px;
  background-color: #00bcd4;
  position: absolute;
  top: 120%;
  left: 0;
  transition: all 0.5s;
}

ul li a:after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #f0f;
  position: absolute;
  top: 120%;
  right: 0;
  transition: all 0.5s;
}

ul li a:hover:before {
  width: 50%;
  transform: translateX(100%);
}

ul li a:hover:after {
  width: 50%;
  transform: translateX(-100%);
}

a:hover {
  color: var(--main-accent);
  transition: .5s;
}

/*Hero*/

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin: auto;
  margin-bottom: 15%;
}

.name {
  color: var(--main-accent)
}

.HTML {
  color: red;
  font-weight: bold;
}

.CSS {
  color: blue;
  font-weight: bold;
}

.js {
  color: goldenrod;
  font-weight: bold;
}

.react {
  color: #61DBFB;
  font-weight: bold;
}

#hero h1{
  font-size: 4rem;
  margin-top: 3em;
}

#hero h2 {
  margin-top: 1em;
  font-size: 2rem;
}

#hero p {
  margin-top: 3em;
  max-width: 650px;
}

.hero-links ul {
  display: flex;
  margin-top: 3em;
  gap: 40px;
  list-style: none;
  font-weight: bold;
}

.fa-github:hover {
  color: #6fda44;
  transition: .2s;
}

.fa-linkedin:hover {
  color: #0072b1;
  transition: .2s;
}

/*Projects*/

#projects h1 {
  padding-top: 5%;
}

.project-container {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin: 10%;
  
  
  
}




.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.project p {
  margin: 30px 0px 30px 0px;
 
}

.demo {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
}

/*Testimonial*/

#testimonials h1 {
  padding-top: 5%;
}
.slider {
  margin: auto;
  width: 80%;
}

.slide {
  text-align: center;
  margin: 12% auto;
  width: 60%;
}

.testimonial-content {
  margin: auto;
  max-width: 60%;
}

.slide-content * {
  padding-top: 2em;
}
.fa-star{
  color: #14a800;
}

.upwork {
  color: #14a800;
}

.upwork-pitch {
  margin: 5% 0px 5% 0px;
}


/*Contact*/

#contact h3 {
  margin: 5% 0 5% 0;
}
.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: space-evenly;
  gap: 40px;
  margin-bottom: 5%;
}

.contact-box {
  width: 200px;
  height: 200px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  
}

/*Footer*/

footer {
  border-top: 1px solid #f1f1f1;
  padding-top: 5%;
  padding-bottom: 10%;
}

.copyright {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}